@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  /* --background: #ffffff;
  --foreground: #171717; */
  --background: #0a0a0a;
  --foreground: #ededed;
}

@theme inline {
  --color-pink-50: oklch(95.09% 0.026 353.61);
  --color-pink-100: oklch(91.13% 0.049 352.14);
  --color-pink-200: oklch(82.41% 0.105 352.45);
  --color-pink-300: oklch(73.09% 0.178 352.32);
  --color-pink-400: oklch(64.52% 0.249 352.09);
  --color-pink-500: oklch(54.3% 0.209 352);
  --color-pink-600: oklch(46.35% 0.179 352.14);
  --color-pink-700: oklch(38.15% 0.147 351.82);
  --color-pink-800: oklch(30.8% 0.119 351.94);
  --color-pink-900: oklch(22.78% 0.087 352.79);
  --color-pink-950: oklch(17.34% 0.068 352.3);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--google-sans);
  --font-serif: var(--google-serif);
}
@utility cus-hv-center {
  @apply flex flex-col justify-center items-center
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--google-sans);
}

html::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  scroll-snap-type: y mandatory;
  scroll-behavior: initial;
}
:root:has(div.scroll-lock) {
  overflow-y: hidden !important;
}

.scroll-lock {
  opacity: 0;
  position: fixed;
  display: inline;
}

 @utility cus-neon-text {
  color: #fff;
  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px oklch(54.3% 0.209 352),
    0 0 82px oklch(54.3% 0.209 352),
    0 0 92px oklch(54.3% 0.209 352),
    0 0 102px oklch(54.3% 0.209 352),
    0 0 151px oklch(54.3% 0.209 352);
}

@utility cus-random-grad {
  background-color: white;
  background-image: linear-gradient(-45deg, #ee775277, #e73c7e77, #23a6d577, #23d5ab77);
	background-size: 400% 400%;
	animation: gradient 60s ease infinite;
	height: 100vh;
}

@utility bg-pattern {
  background: url(/bg-pattern.png);
}

@utility bg-sickpattern {
  background-image: linear-gradient(-45deg, #ee775277, #e73c7e77, #23a6d577, #23d5ab77), url(/bg-pattern.png);
  height: unset
}


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@utility glass {
  @apply backdrop-filter backdrop-blur-sm
}